<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ToDoアプリ{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    {% csrf_token %}

    <img src="{% static 'tasks/ToDoLogo.webp' %}" alt="ToDo">

</head>
<body>
    <header>
        <h1>とどリスト</h1>
        <nav>
            <a href="{% url 'task_create' %}">新規追加</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    <p>&copy; 2023 ToDoアプリ</p>
</footer>
</html>
