<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ToDoアプリ{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <header>
        <h1>タスク追加</h1>
        <nav>
          <a href="{% url 'task_list' %}">ホーム</a>
        </nav>
    </header>
    <main>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">保存</button>
        </form>
        <button onclick="location.href='{% url 'task_list' %}'">戻る</button>
      </main>
      <footer>
          <p>&copy; 2023 ToDoアプリ</p>
      </footer>

